body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    }
    
    .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
    text-align: center;
    color: #333;
    }
    
    input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #45a049;
    }
    
    #categoryList {
    margin-top: 20px;
    }
    
    #categoryList h2 {
    color: #333;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    }
    
    li {
    margin-bottom: 5px;
    }
    
    select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    #deleteCategoryBtn {
    margin-top: 10px;
    }
    
    body {
        background: url('/assets/Store1.png') no-repeat center center fixed;
        background-size: cover;
    }